In [1]:
import pandas as pd

data = pandas.ExcelFile("Master_Scheduled_Days_Off.xlsx")
df = pd.read_excel("Master_Scheduled_Days_Off.xlsx")

df=df.set_index('Operator_ID')
df.head()

NameError: name 'pandas' is not defined

In [ ]:
for index2, row2 in df3.iterrows():
            if index2==1:
                c=row2['From_Date'].date()
                f=row2['Absence_Type']
                print(c,f)

In [2]:
for i in range(1,43):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42

In [3]:
output = pd.DataFrame()
dic={'Effective_On':1,'No_Longer_Effective_After':2,'accdate':3}
output.append(dic, ignore_index=True)
print(output)

Empty DataFrame
Columns: []
Index: []

In [4]:
new_list=[]
for i in range(1,431):
    print(i)
    for index, row in df.iterrows():
        if index==i:
            
            a=row['Effective_On'].date()
            b=row['No_Longer_Effective_After'].date()
            
            for index3, row3 in df2.iterrows():
                            if index3==i:
                                d=row3['accdate'].date()


                                if d in (a, b):

                                    dic=(index,a,b,d)
                                    new_list.append(dic)
#                                     'Effective_On':a,'No_Longer_Effective_After':b,'accdate':d,}
#                                     output.append(dic, ignore_index=True)
                                else:
                                
                                    continue
                            else:
                                continue
        else:
            
            continue

                        
print('done')

1

NameError: name 'df' is not defined

In [5]:
new_list

[]

In [6]:
print(output)

Empty DataFrame
Columns: []
Index: []

In [7]:

dd=df.loc[1]
print(dd)
c=dd['Effective_On']

print(c)
    
#     for index, row in df.iterrows():
#         if index==i:
            
#             a=row['Effective_On'].date()
#             b=row['No_Longer_Effective_After'].date()
#             for index2, row2 in df3.iterrows():
#                 if index2==i:
#                     c=row2['From_Date'].date()
#                     f=row2['Absence_Type']

#                     if c in (a, b):
#                         for index3, row3 in df2.iterrows():
#                             if index3==i:
#                                 d=row3['accdate'].date()


#                                 if d in (a, b):

#                                     print({'Effective_On':a,'No_Longer_Effective_After':b,'Absence_Date':c,'accdate':d,'Absence_Type':f})
#                             else:
                                
#                                 continue

                        
print('done')

NameError: name 'df' is not defined

In [8]:
output = pd.DataFrame()

In [9]:
dic

{'Effective_On': 1, 'No_Longer_Effective_After': 2, 'accdate': 3}

In [10]:
output

Empty DataFrame
Columns: []
Index: []

In [11]:
df2 = pd.read_excel("Master_Accident_Data.xlsx")

df2=df2.set_index('Operator_ID')
df2.head()

,accdate,AccTypeCodeDescr,AccSubTypeCodeDescr,acctype,BAITFISH Code,FileNumber,AccPreventable,Retraining,RetrainingDate,vehbusno,...,VehNoOccupants,Drv_Age,CoDrvSex,Roadway,RoadwayLightConditions,RoadwayWeather,RoadwaySurface,LocAddr1,Addr_Type,Neighborhood
Operator_ID,,,,,,,,,,,,,,,,,,,,,
1,2014-09-29 15:07:00,Collisions w/Other Objects,"Fixed object (lamp posts, poles, etc.)",04 - MVA with Fixed Object,Fixed Object,14-1043,Preventable,Y,2014-10-08,528.0,...,5.0,65.0,M,Curve and Grade,Daylight,Clear,Dry,425 Paul Rd,Address,West Irondequoit
1,2015-03-18 15:29:00,Vehicle Passing,Vehicle cuts in and scrapes RGRTA on left side,03 - MVA with Vehicle,0,15-510,Non-Preventable,N,NaT,910.0,...,0.0,65.0,M,Straight and Level,Daylight,Clear,Dry,699 East Main St.,Address,Charlotte
1,2015-12-08 08:59:00,Vehicle Passing,Vehicle cuts in and scrapes RGRTA on left side,03 - MVA with Vehicle,0,15-1762,Non-Preventable,N,NaT,502.0,...,35.0,66.0,M,Straight and Level,Daylight,Clear,Dry,280 Lyell Ave.,Address,0
1,2016-02-19 13:16:00,Vehicle Passing,Vehicle cuts in and scrapes RGRTA on left side,02 - MVA with Injuries,0,16-248,Non-Preventable,N,NaT,527.0,...,11.0,66.0,M,Straight and Level,Daylight,Clear,Wet,701 Park ave,Address,0
1,2016-04-20 11:46:00,Vehicle Passing,Vehicle cuts in and scrapes RGRTA on right side,03 - MVA with Vehicle,0,16-503,Non-Preventable,N,NaT,753.0,...,NaN,66.0,M,Straight and Level,Daylight,Clear,Dry,130 West Main Street,Address,Strong

In [12]:
df3 = pd.read_excel("Master_Absence_Data.xlsx")

df3=df3.set_index('Operator_ID')
df3=df3.drop(columns=['Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9'])
df3.head()

            Absence_Type  From_Date From_Time    To_Date To_Time
Operator_ID
3                 Absent 2016-04-01      0:00 2016-04-01   25:00
6                Excused 2016-04-01     13:22 2016-04-01   16:34
10              Vacation 2016-04-01      0:00 2016-04-01   25:00
11               Medical 2016-04-01      0:00 2016-04-01   25:00
27               Medical 2016-04-01      0:00 2016-04-01   25:00

In [13]:
df.index.tolist()
type(df3.loc[1])

NameError: name 'df' is not defined

In [ ]:
ll=df3['From_Date'].tolist()
for k in ll:
    print(k.date())

In [ ]:
from datetime import datetime
date_format = "%Y-%m-%d"

date=datetime.strptime('2019-07-15', date_format)
start=datetime.strptime('2019-07-15', date_format)

end=datetime.strptime('2019-07-15', date_format)
if date in (start, end):
        print('yes')
else:
        print("No")

In [ ]:
dsd=df3.loc[2]
for index2, row2 in dsd.iterrows():
     c=row2['From_Date'].date()
     f=row2['Absence_Type']
     print(c,f)

In [ ]:
l=[]
for index, row in df.iterrows():
   
        
        a=row['Effective_On'].date()
        b=row['No_Longer_Effective_After'].date()
        

        dd=pd.DataFrame(df3.loc[index])
        for index2, row2 in dd.iterrows():
                
            
                c=row2['From_Date'].date()
                f=row2['Absence_Type']
                
                if c in (a, b):
                        
                        doc={'Effective_On':a,'No_Longer_Effective_After':b,'Absence_Date':c,'Absence_Type':f}
                        l.append(doc)
                else:
                        continue
                        
                        
print('done')

In [ ]:
print(df.loc[1])
print(df2.loc[1])
print(df3.loc[1])

In [ ]:


for index, row in df.iterrows():
    
        
        a=row['Effective_On'].date()
        b=row['No_Longer_Effective_After'].date()
        for index2, row2 in df2.iterrows():
            if index2==index:
                c=row2['accdate'].date()
                
                
                if c in (a, b):
                        
                        for index3, row3 in df3.iterrows():
                            if index3==index2:
                                    d=row3['From_Date'].date()
                                    f=row3['Absence_Type']
                
                                    

                                    if d in (a, b):
                                            dic={'id':index3,'Effective_On':a,'No_Longer_Effective_After':b,'accdate':c,'absnece_Date':d,'Absence_Type':f}
                                            print(dic)
                                    
                            
                            else:
                                    
                                    continue
                    
                            
                            
                        
                else:
                        continue
            
            else:
                
                continue
            
            
            
                        
                        
print('done')

print(output.head())