In [1]:
import pandas 
import pandas as pd

data = pandas.ExcelFile("Master_Scheduled_Days_Off.xlsx")
df = pd.read_excel("Master_Scheduled_Days_Off.xlsx")

df=df.set_index('Operator_ID')
df.head()
df3 = pd.read_excel("Master_Absence_Data.xlsx")

df3=df3.set_index('Operator_ID')
df3=df3.drop(columns=['Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9'])
df3.head()

df2 = pd.read_excel("Master_Accident_Data.xlsx")

df2=df2.set_index('Operator_ID')
df2.head()

,accdate,AccTypeCodeDescr,AccSubTypeCodeDescr,acctype,BAITFISH Code,FileNumber,AccPreventable,Retraining,RetrainingDate,vehbusno,...,VehNoOccupants,Drv_Age,CoDrvSex,Roadway,RoadwayLightConditions,RoadwayWeather,RoadwaySurface,LocAddr1,Addr_Type,Neighborhood
Operator_ID,,,,,,,,,,,,,,,,,,,,,
1,2014-09-29 15:07:00,Collisions w/Other Objects,"Fixed object (lamp posts, poles, etc.)",04 - MVA with Fixed Object,Fixed Object,14-1043,Preventable,Y,2014-10-08,528.0,...,5.0,65.0,M,Curve and Grade,Daylight,Clear,Dry,425 Paul Rd,Address,West Irondequoit
1,2015-03-18 15:29:00,Vehicle Passing,Vehicle cuts in and scrapes RGRTA on left side,03 - MVA with Vehicle,0,15-510,Non-Preventable,N,NaT,910.0,...,0.0,65.0,M,Straight and Level,Daylight,Clear,Dry,699 East Main St.,Address,Charlotte
1,2015-12-08 08:59:00,Vehicle Passing,Vehicle cuts in and scrapes RGRTA on left side,03 - MVA with Vehicle,0,15-1762,Non-Preventable,N,NaT,502.0,...,35.0,66.0,M,Straight and Level,Daylight,Clear,Dry,280 Lyell Ave.,Address,0
1,2016-02-19 13:16:00,Vehicle Passing,Vehicle cuts in and scrapes RGRTA on left side,02 - MVA with Injuries,0,16-248,Non-Preventable,N,NaT,527.0,...,11.0,66.0,M,Straight and Level,Daylight,Clear,Wet,701 Park ave,Address,0
1,2016-04-20 11:46:00,Vehicle Passing,Vehicle cuts in and scrapes RGRTA on right side,03 - MVA with Vehicle,0,16-503,Non-Preventable,N,NaT,753.0,...,NaN,66.0,M,Straight and Level,Daylight,Clear,Dry,130 West Main Street,Address,Strong

In [2]:
cd=df[['Effective_On','No_Longer_Effective_After']]
cd

            Effective_On No_Longer_Effective_After
Operator_ID
1             2016-04-04                2016-06-26
2             2016-04-04                2016-06-26
3             2016-04-04                2016-06-26
5             2016-04-04                2016-06-26
6             2016-04-04                2016-06-26
7             2016-04-04                2016-06-26
8             2016-04-04                2016-06-26
9             2016-04-04                2016-06-26
10            2016-04-04                2016-06-26
11            2016-04-04                2016-06-26
12            2016-04-04                2016-06-26
13            2016-04-04                2016-06-26
15            2016-04-04                2016-06-26
16            2016-04-04                2016-06-26
17            2016-04-04                2016-06-26
18            2016-04-04                2016-06-26
19            2016-04-04                2016-06-26
20            2016-04-04                2016-06-26
21            2016-04-04                2016-06-26
22            2016-04-04                2016-06-26
23            2016-04-04                2016-06-26
24            2016-04-04                2016-06-26
25            2016-04-04                2016-06-26
26            2016-04-04                2016-06-26
27            2016-04-04                2016-06-26
28            2016-04-04                2016-06-26
29            2016-04-04                2016-06-26
30            2016-04-04                2016-06-26
31            2016-04-04                2016-06-26
32            2016-04-04                2016-06-26
...                  ...                       ...
399           2019-07-01                2019-09-02
400           2019-07-01                2019-09-02
401           2019-07-01                2019-09-02
402           2019-07-01                2019-09-02
403           2019-07-01                2019-09-02
405           2019-07-01                2019-09-02
406           2019-07-01                2019-09-02
407           2019-07-01                2019-09-02
408           2019-07-01                2019-09-02
409           2019-07-01                2019-09-02
410           2019-07-01                2019-09-02
411           2019-07-01                2019-09-02
412           2019-07-01                2019-09-02
413           2019-07-01                2019-09-02
414           2019-07-01                2019-09-02
415           2019-07-01                2019-09-02
416           2019-07-01                2019-09-02
417           2019-07-01                2019-09-02
418           2019-07-01                2019-09-02
420           2019-07-01                2019-09-02
421           2019-07-01                2019-09-02
422           2019-07-01                2019-09-02
423           2019-07-01                2019-09-02
424           2019-07-01                2019-09-02
425           2019-07-01                2019-09-02
426           2019-07-01                2019-09-02
427           2019-07-01                2019-09-02
428           2019-07-01                2019-09-02
429           2019-07-01                2019-09-02
430           2019-07-01                2019-09-02

[4580 rows x 2 columns]

In [3]:
dsd=df2[['accdate']]
dsd.head()
dsd3=df3[["Absence_Type",'From_Date']]
dsd3.head()

            Absence_Type  From_Date
Operator_ID
3                 Absent 2016-04-01
6                Excused 2016-04-01
10              Vacation 2016-04-01
11               Medical 2016-04-01
27               Medical 2016-04-01

In [4]:
for i in range(1,431):
    
    try:
        dd=df2.loc[i]
    except:
         print(i)

25
33
36
96
99
106
108
133
138
169
181
190
206
215
220
221
231
247
250
260
262
263
268
301
306
307
320
322
330
333
339
341
343
346
349
353
369
386
395
396
407
408
409
413
415
416
417
418
420
421
422
423
424
430

In [5]:
for i in range(1,431):
    
    cc=df.loc[i]
    dd=df2.loc[i]


df3.loc[1]

KeyError: 4

In [ ]:
gf = cd.join(dsd, how='outer')
gf = gf.join(dsd3, how='outer')
gf

In [ ]:
cd.head()

In [ ]:
top=dsd

ss=top.index
ls=ss.value_counts()
ds=ls.to_dict()
ds
dds=ds

In [ ]:

for i in list(ds):
    if ds[i]<=2:
         
         dds.pop(i, None)
print(dds)
label=[]
num=[]
for i in dds.keys():
    label.append(str(i))
    num.append(dds[i])
    


num

In [ ]:

plt.figure(figsize=(60,30))
plt.barh(range(len(num)), num,tick_label = label)
plt.show()

In [ ]:

import matplotlib.pyplot as plt

plt.figure(figsize=(15,5))
# plt.hist(dds.keys(), dds.values(), width=.5, color='g')
# plt.show()

# fig = px.histogram(tips, x="day")

plt.barh(str(dds.keys()),dds.values())

fig.show()


# size, scale = 1000, 10


# dds.plot.hist(grid=True, bins=20, rwidth=0.9,
#                    color='#607c8e')
# plt.title('Commute Times for 1,000 Commuters')
# plt.xlabel('Counts')
# plt.ylabel('Commute Time')
# plt.grid(axis='y', alpha=0.75)

In [ ]:
index.value_counts()

In [ ]:
dsd3.head()

In [ ]:
dsd3['Absence_Type'].value_counts().plot(kind='barh')

In [ ]:


for i in range(200):
    l=cd.loc[i]
    ll=dsd.loc[i]
    lll=dsd3.loc[i]
    result1 = ll.join(lll, how='outer')

    lmun=result1['accdate']-result1['From_Date']
    result1['count']=lsl


 

    filterinfDataframe = result1[(result1['count'] > 0) & (result1['count'] < 31) ]
    filterinfDataframe

In [ ]:
for i in range(2,20):
    los=cd.loc[i]
    los1=dsd.loc[i]
    los2=dsd3.loc[i]
    resultss = los1.join(los2, how='outer')
    
    lmun=resultss['accdate']-resultss['From_Date']
    lsldd=[]
    for s in lmun:
        str_ss=str(s)
        splited = str_ss.split(" ")
        lsldd.append(int(splited[0]))
    resultss['count']=lsldd
    

    fi = result1[(result1['count'] > 0) & (result1['count'] < 31) ]

    filterinfDataframe.append(fi,ignore_index=True)

In [ ]:
l=cd.loc[1]
ll=dsd.loc[1]
lll=dsd3.loc[1]

In [ ]:
l2=cd.loc[2]
ll2=dsd.loc[2]
lll2=dsd3.loc[2]
result2 = ll2.join(lll2, how='outer')
result2
lmun2=result2['accdate']-result2['From_Date']

lsl2=[]
for s in lmun2:
    str_ss=str(s)
    splited = str_ss.split(" ")
    lsl2.append(int(splited[0]))
    

result2['count']=lsl2
result2

fi = result2[(result2['count'] > 0) & (result2['count'] < 31) ]



filterinfDataframe.append(fi)

In [ ]:
result1 = ll.join(lll, how='outer')
result1
lmun=result1['accdate']-result1['From_Date']
lmun

In [ ]:
lsl=[]
for s in lmun:
    str_ss=str(s)
    splited = str_ss.split(" ")
    lsl.append(int(splited[0]))
    
lsl

In [ ]:
result1['count']=lsl
result1

filterinfDataframe = result1[(result1['count'] > 0) & (result1['count'] < 31) ]

filterinfDataframe
filterinfDataframe.append(fi,)

In [ ]:
lsl

In [ ]:
gf = l.join(ll, how='outer')
gf = gf.join(lll, how='outer')
gf

In [ ]:
print(cd.loc[1])
print(dsd.loc[1])
print(dsd3.loc[1])

In [ ]:
df_acc[features].describe()